.esquema {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 44, 65, 1) 60%
  );
  height: 85vh;
  font-family: "Roboto Condensed", sans-serif;
}
aside {
  display: flex;
  align-items: center;
}

.img {
  width: 15px;
}

.registro {
  display: flex;
  flex-direction: column;
  background-color: #ffffff0e;
  border-radius: 15px;
  padding: 15px 20px;
  gap: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  align-self: center;
  font-size: 30px;
  width: 40%;
  min-width: 561px;
  max-width: 561px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 100px;
  border: none;
  color: rgba(18, 44, 65, 1);
  font-size: 12px;
  font-weight: bold;
  font-stretch: condensed;
  padding: 10px;
}

p {
  text-align: center;
  margin: 0px;
}
