/*
Paleta Colores: 
nav: #122C41;
selección: #4285f41; 
detalles: #1E4643; 
blanco: #FAFAFF; 
negro: #1C1C1C;
*/
.perfilDiputado {
  border: 2px solid #ccc;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 30px 0px 30px;
  width: 90%;
  align-items: center;
}
.seccionDiputado {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
/*INFORMACION DIPUTADO*/
.informacionDiputado {
  display: flex;
  align-items: center;
}
.imgPerfil {
  border-radius: 25px;
}
.InfoDip {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: start;
  justify-content: center;
}
.InfoDip h1 {
  font-size: 30px;
}
.InfoDip p {
  margin-top: 10px;
}
/*REDES SOCIALES*/
.RedesDiputado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}
.redSocial {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.redSocial img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.perfilBotones {
  margin-top: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none; /* Elimina los puntos de la lista */
}
.perfilBotones button:hover {
  color: #4285f4; /* Cambia el color del texto al pasar el mouse */
}
.perfilBotones button {
  margin: 25px 15px 0 15px; /* Elimina el margen alrededor de los botones */
  padding: 5px 10px; /* Ajusta el espacio interno de los botones según sea necesario */
  border: none; /* Elimina el borde de los botones */
  background-color: transparent;
  font-weight: 500;
}

form {
  align-items: center;
}
textarea {
  border-radius: 10px;
}

.Comentarios {
  border: 2px solid #ccc;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  margin: 20px 30px 0px 30px;
  align-items: center;
}

.comentario-condicional {
  text-align: center;
  font-size: 20px;
  align-self: center;
}

.likes {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.likes button {
  color: #4285f4;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.imagenDiputado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}

.enviar-comentario {
  font-size: 20px;
  background-color: #1e4643;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
}

.inputperfil {
  max-width: fit-content;
  min-width: fit-content;
}

.Box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
