/*
nav: #122C41;
selección: #4285f41; 
detalles: #1E4643; 
blanco: #FAFAFF; 
negro: #1C1C1C;
*/

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  width: auto;
  height: 20%;
  background-color: #122c41;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 75px;
}
.nav-menu {
  display: flex;
  align-items: 38px;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  color: #fafaff;
}
