/*
nav: #122C41;
selección: #4285f41; 
detalles: #1E4643; 
blanco: #FAFAFF; 
negro: #1C1C1C;
*/

.navbar {
  display: flex;
  justify-content: space-around;
  height: calc(15% - 1.6px);
  background-color: #122c41;
  align-items: center;
  border-bottom: 2px solid #fafaff;
}

.navbar a {
  transition: 0.2s;
}

.navbar a:hover {
  transform: scale(1.2);
}

.nav-menu {
  display: flex;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
}

.nav-menu li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  color: #fafaff;
}

#logo {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 75px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
